In [1]:
import datetime
import math
import numpy as np
import netCDF4 as nc
import os
import pandas

np.random.seed(42)

In [2]:
def datadir_era5(x):
    return "/projectnb/labci/Lucia/data/era5_npy/" + x

def datadir_gpm(x):
    return "/projectnb/labci/Indrajit/Rainfall/data/GPM/SatelliteDataFull/" + x

def _load_numpy_arr(file):
    return np.load(file)

def load_numpy_arrays(files):
    final_arr = []
    
    for i in range(len(files)):
        arr = _load_numpy_arr(files[i])
        final_arr.append(arr) 
        
    return np.array(final_arr)

## Select location(s) in ERA5 and GPM

In [3]:
era5_sample_nc = nc.Dataset("/projectnb/labci/Lucia/data/era5_nc/cape/convective_available_potential_energy_download_1990-1999.nc")
gpm_sample_nc = nc.Dataset(datadir_gpm("") + "IMERG_20000601.nc4", allow_pickle=True)

lat_era5 = era5_sample_nc["latitude"][:]
lon_era5 = era5_sample_nc["longitude"][:]
lat_gpm = gpm_sample_nc["lat"][:]
lon_gpm = gpm_sample_nc["lon"][:]

#### Lake Volta (approximate)

In [4]:
lat_volta = 7.55
lon_volta = -0.05

#### Capital City, Accra (approximate)

In [5]:
lat_accra = 5.55
lon_accra = -0.3

#### Random

In [6]:
x = np.random.choice(lat_era5)
y = np.random.choice(lon_era5)
print((x, y))

(10.05, 0.95)

In [7]:
print(lat_gpm)
print(lon_gpm)

[ 4.3500032  4.4500017  4.55       4.6499987  4.750005   4.8500032
  4.9500017  5.05       5.1499987  5.250005   5.3500032  5.4500017
  5.55       5.6499987  5.750005   5.8500032  5.9500017  6.05
  6.1499987  6.250005   6.3500032  6.4500017  6.55       6.6499987
  6.750005   6.8500032  6.9500017  7.05       7.1499987  7.250005
  7.3500032  7.4500017  7.55       7.6499987  7.750005   7.8500032
  7.9500017  8.05       8.149999   8.250005   8.350003   8.450002
  8.55       8.649999   8.750005   8.850003   8.950002   9.05
  9.149999   9.250005   9.350003   9.450002   9.55       9.649999
  9.750005   9.850003   9.950002  10.05      10.149999  10.250005
 10.350003  10.450002  10.55      10.649999  10.750005  10.850003
 10.950002  11.05      11.149999  11.250005  11.350003  11.450002
 11.55     ]
[-3.750003   -3.649997   -3.549991   -3.45       -3.349994   -3.250003
 -3.149997   -3.049991   -2.95       -2.849994   -2.750003   -2.649997
 -2.549991   -2.45       -2.349994   -2.250003   -2.149997   -2.049991
 -1.95       -1.849994   -1.7500031  -1.649997   -1.5499909  -1.45
 -1.349994   -1.2500031  -1.149997   -1.0499909  -0.95       -0.8499939
 -0.75000304 -0.64999694 -0.54999083 -0.45       -0.34999388 -0.25000304
 -0.14999695 -0.04999084  0.05        0.1500061   0.24999695  0.35000306
  0.45000917  0.55        0.6500061   0.74999696  0.85000306  0.95000917
  1.05        1.150006    1.2499969   1.350003    1.4500091   1.55      ]

In [8]:
print(lon_era5)

[-3.8  -3.55 -3.3  -3.05 -2.8  -2.55 -2.3  -2.05 -1.8  -1.55 -1.3  -1.05
 -0.8  -0.55 -0.3  -0.05  0.2   0.45  0.7   0.95  1.2   1.45  1.7 ]

In [9]:
(1.349994 - 1.3) - 0.000999999999999

0.04899400000000087

### Apply Mask

In [10]:
def mask_lat_lon(lat, lon, x, y, tolerance=0.000999999999999, gpm=False):

    mask_lat = np.where(abs(lat - x) <  tolerance, True, False)
    
    if gpm:
        tolerance += 0.04899400000000087  # extra tolerance for longitude grid in GPM
        
    mask_lon = np.where(abs(lon - y) <  tolerance, True, False)        
    
    return mask_lat, mask_lon

In [11]:
volta_mask_gpm = mask_lat_lon(lat_gpm, lon_gpm, lat_volta, lon_volta, gpm=True)
accra_mask_gpm = mask_lat_lon(lat_gpm, lon_gpm, lat_accra, lon_accra, gpm=True)
rand_mask_gpm  = mask_lat_lon(lat_gpm, lon_gpm, x, y, gpm=True)

volta_mask_era = mask_lat_lon(lat_era5, lon_era5, lat_volta, lon_volta)
accra_mask_era = mask_lat_lon(lat_era5, lon_era5, lat_accra, lon_accra)
rand_mask_era  = mask_lat_lon(lat_era5, lon_era5, x, y)

## Select dates

GPM data runs daily from June 1, 2000 - September 30, 2021. ERA5 data runs every 6 hours from 00:00 AM on January 1, 1990 - 18:00 PM on December 31, 2022. For the ERA5 variables, we start by selecting just the observation at 12:00 PM the previous day.

In [12]:
era_start = datetime.datetime(1990, 1, 1)  # all variables with the exception of q, specific_humidity

gpm_start = datetime.datetime(2000, 6, 1)
gpm_end = datetime.datetime(2021, 9, 30)

start_ind = ((gpm_start - era_start) - datetime.timedelta(days=1)).days  # get noon observations from previous day
end_ind = (gpm_end - era_start).days



## Create ERA5 timeseries

In [13]:
def create_time_series(vars_list, loc_mask, start_from=0, end_on=None, hour=2):
    series_dict = {}

    for var in vars_list:
        print(f"Creating timeseries for {var}")

        var_files = os.listdir(datadir_era5(var))
        for i in range(len(var_files)):
            var_files[i] = datadir_era5(var + "/" + var_files[i])

        var_files.sort()

        full_arr = load_numpy_arrays(var_files)
        
        if end_on is not None:
            series = full_arr[start_from:end_on, hour, loc_mask[0], loc_mask[1]]
            series_dict[var] = series.flatten()
        else:
            series = full_arr[start_from:, hour, loc_mask[0], loc_mask[1]]
            series_dict[var] = series.flatten()
    
    return series_dict

In [14]:
variables = os.listdir(datadir_era5(""))

series = create_time_series(variables, rand_mask_era, start_from=start_ind, end_on=end_ind, hour=2)

Creating timeseries for u950
Creating timeseries for t700
Creating timeseries for q500
Creating timeseries for cin
Creating timeseries for tcwv
Creating timeseries for crwc850
Creating timeseries for sp
Creating timeseries for w950
Creating timeseries for t950
Creating timeseries for w925
Creating timeseries for kx
Creating timeseries for u600
Creating timeseries for vimd
Creating timeseries for r700
Creating timeseries for w500
Creating timeseries for w300
Creating timeseries for t300
Creating timeseries for t600
Creating timeseries for d2m
Creating timeseries for crwc700
Creating timeseries for crwc950
Creating timeseries for r950
Creating timeseries for crwc500
Creating timeseries for q700
Creating timeseries for u925
Creating timeseries for crwc300
Creating timeseries for w850
Creating timeseries for tcc
Creating timeseries for q950
Creating timeseries for t925
Creating timeseries for u500
Creating timeseries for u300
Creating timeseries for r300
Creating timeseries for r600
Creating timeseries for w700
Creating timeseries for crwc925
Creating timeseries for t500
Creating timeseries for t2m
Creating timeseries for tclw
Creating timeseries for crwc600
Creating timeseries for q300
Creating timeseries for u850
Creating timeseries for r850
Creating timeseries for q600
Creating timeseries for cape
Creating timeseries for r925
Creating timeseries for t850
Creating timeseries for q850
Creating timeseries for u700
Creating timeseries for q925
Creating timeseries for r500
Creating timeseries for w600

## Add precipitation data

In [15]:
def _extract_array_from_nc(file, vname, loc):
    nc_obj = nc.Dataset(datadir_gpm("") + file)
    var = nc_obj.variables[vname][:].data

    return var[:, loc[1], loc[0]]  # GPM data is lon-lat, not lat-lon


def extract_var_array(files, vname, loc):
    var = _extract_array_from_nc(files[0], vname, loc)

    for i in range(len(files)):
        if i == 0:
            continue
        else:
            curr_arr = _extract_array_from_nc(files[i], vname, loc)
            var = np.vstack((var, curr_arr))

    return var.flatten()

In [16]:
gpm_files = os.listdir(datadir_gpm(""))
gpm_files.sort()

precip = extract_var_array(gpm_files, "precipitationCal", rand_mask_gpm)

In [17]:
series["precip"] = precip

### Threshold precipitation values

In [18]:
thresh = np.where(precip > 0.2, 1, 0)

In [19]:
series["precip_thresh"] = thresh

## Compute & add time variables

In [20]:
t1 = [math.sin( (2*math.pi*d)/365) for d in range(1, 7793)]
t2 = [math.cos( (2*math.pi*d)/365) for d in range(1, 7793)]

In [21]:
series["time1"] = t1
series["time2"] = t2

## Save timeseries

In [22]:
series_df = pandas.DataFrame.from_dict(series)
series_df.head()

,u950,t700,q500,cin,tcwv,crwc850,sp,w950,t950,w925,...,t850,q850,u700,q925,r500,w600,precip,precip_thresh,time1,time2
0,2.380978,283.415387,0.003976,184.164343,53.119792,2.925513e-06,98365.466812,-0.052366,299.483341,-0.027100,...,291.205448,0.015534,-13.770435,0.015962,97.336712,-0.011045,0.334671,1,0.017213,0.999852
1,2.019916,283.456431,0.004199,245.582975,51.810654,0.000000e+00,98356.031203,-0.048944,300.267859,-0.001571,...,293.184919,0.013241,-17.369975,0.016044,92.103467,0.197399,0.001362,0,0.034422,0.999407
2,4.064455,283.775398,0.002235,145.176863,45.690818,1.329779e-07,98444.464940,-0.113688,299.398909,-0.083948,...,291.353205,0.015318,-12.126829,0.015683,47.212811,-0.008677,0.307083,1,0.051620,0.998667
3,4.007970,284.718226,0.002121,211.982024,47.322910,1.329779e-07,98278.438377,-0.107898,300.826051,-0.056577,...,291.667481,0.015535,-12.172239,0.015869,46.093789,-0.012624,0.000000,0,0.068802,0.997630
4,3.203888,284.521217,0.003110,199.133704,47.958631,3.756624e-06,98344.487639,-0.075263,300.766245,-0.042101,...,291.892634,0.014866,-11.230821,0.015484,73.756629,-0.001834,6.029907,1,0.085965,0.996298

In [23]:
series_df.to_csv("/projectnb/labci/Lucia/data/timeseries/timeseriesGPM+ERA5.csv", header=True, index=False)